<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<%- include('../partials/navbar.ejs') %>

		<div class="mx-auto text-center p-5">
			<h1 class="my-5 text-center">About Me</h1>
			<p class="my-5 text-center">I'am Mohamed</p>
		</div>

		<%- include('../partials/footer.ejs') %>
	</body>
</html>
