<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<%- include('../partials/navbar.ejs') %>

		<div class="mx-auto text-center p-5">
			<h1 class="my-5 text-center">
				Teacher of Today The teacher of today is the salt of the earth. He wants
				to create a man, not just make money. He is a knowledgeable gentleman.
				He is an expert in the particular subject he teaches. Though a scholar,
				he teaches the subject in such a way that all students, brilliant or
				ordinary, can fully understand him. He doesn’t advertise his knowledge.
				He cares about his students and offers assistance to them both inside
				and outside of the classroom. He attends his work regularly.
			</h1>
			<h5>Posted by Start Bootstrap on 2023</h5>
		</div>

		<%- include('../partials/footer.ejs') %>
	</body>
</html>
